
<style type="text/css">
	

	ul.team-list{
		list-style:none;
		padding:0;
		min-height:12em;
	}
	ul.team-list li:nth-child(2n){
		background-color:#a6dbed;
	}
	.teams{
		margin:10px;
		background-color: #13C4A5;
		padding: 10px;
	}
	li {
		cursor:move;
	}

</style>

<div class="row">

	<!-- SIDEBAR NAVIGATION -->
	<div class="col-sm-2">
		<%= render 'navigation/teams_sidebar_nav' %>
	</div>

	<div class="col-sm-7">
		<% @teams.each do |team| %>
		<div class="section">
			<div class="teams">
				<h1><%= team.name %></h1>

				<ul class="team-list connected-sortable" id="team-<%=team.id%>" data-team-id="<%=team.id%>">
					<!-- drop designers here -->
					<% team.users.each do |designer| %>
					<li>
						<h2><%= designer.first_name %> <%= designer.last_name %></h2>
						<button class="remove-designer" id="remove-designer-<%= designer.id %>" data-remove-designer-id="<%= designer.id %>">Remove Designer</button>
					</li>
					<% end %>
				</ul>
				<%= link_to "Delete Team", team, method: :delete, data: { confirm: "You sure?" } %>
			</div>
		</div> <!-- end teams class -->
		<% end %>
	</div>
	<div class="col-sm-3 sidebar">
		<h2>Designers</h2>
		<ul id="designers-list" class="connected-sortable">
			<% @users.each do |designer| %>
			<li id="designer-<%=designer.id%>" data-designer-id="<%=designer.id%>"><%= designer.first_name %> <%= designer.last_name %>
			</li>
			<% end %>
		</ul>
	</div>
</div>


<div class="modal fade" id="add-user" tabindex="0" role="dialog" aria-hidden="true" aria-labelledby="add-user-label">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="add-user-label">Add Designers</h4>
			</div>
			<div class="modal-body">
				<input id="add-user-input">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(".remove-designer").click(
		function(){
			$.ajax({
				url: "teams/1/remove_designer",
				type: "DELETE",
				data: {"user_id": $(this).data("remove-designer-id")},
			}).done(
			function(){
			});
		});

	$("#designers-list, .team-list").sortable({
		connectWith: ".connected-sortable",
		receive: function(event, ui) {
			$.post("teams/" + $(this).data("team-id") + "/add_designer", {"user_id": ui.item.data("designer-id")});
		}
	});

	$(".team-list li").dblclick(function(ev){
		$(this).prependTo("#users-list");
	});
</script>