<div class="proj-title">
 <h1>Edit <%= @user.first_name %></h1>
</div>
<div class="page-wrapper">

<div class="container">
 
  <%= simple_form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :autofocus => true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :autofocus => true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :netid %>
    <%= f.text_field :netid, :autofocus => true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :year %>
    <%= f.text_field :year, :autofocus => true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cell %>
    <%= f.text_field :cell, :autofocus => true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, :autofocus => true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :payroll %>
    <%= f.text_field :payroll, :autofocus => true, class: 'form-control' %>
  </div>
  <fieldset>
    <p>Leave these fields blank if you don't want to change your password.</p>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, class: 'form-control' %>
    </div>
  </fieldset>
  <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>
</div>