<div class="row">

	<!-- SIDEBAR NAVIGATION -->
	<div class="col-sm-2">
		<%=render 'navigation/projects_sidebar_nav' %>
	</div>

	<div class="col-sm-10">

		<script type="text/javascript">
		$(function(){
			$(".select-team").change(function(){
				$.post("projects/1/update_team", {"team_id": $(this).val().toString()})
				.done(function(data){
					$(".select-team").after()
					console.log( data[0].first_name );
				});
			})
		});
		</script>

		<!-- UNASSIGNED PROJECTS -->
		<div class="section" id="unassigned">
			<h1 class="project-heading">Unassigned</h1>
			<% @unassigned_projects.each do |unassigned| %>
			<div class="project" id="project-<%=unassigned.id%>" data-project-id="<%=unassigned.id%>">
				<div class="row">
					<div class="col-sm-4">
						<h3 class="project-title"><%= unassigned.client.organization.name %></h3>
						<small class="medium"><%= unassigned.mediums.take(unassigned.mediums.length-1).to_sentence %></small>
					</div>
					<div class="col-sm-2">
						<span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
						<%= unassigned.due_date %>
					</div>
					<div class="col-sm-2 select-team-div">
						<select class="select-team">
							<option value="">Select Team</option>
							<% @teams.each do |team| %>
							<option value="<%= team.id %>">
								<%= team.name %>
							</option>
							<% end %>
						</select>
					</div>
				</div>
			</div>
			<% end %>
		</div>

		<style type="text/css">
		</style>

		<!-- ASSIGNED PROJECTS -->
		<div class="section" id="assigned">
			<h1 class="project-heading">Assigned</h1>
			<% @projects.each do |project| %>
			<% if project.status == "assigned" %>
			<div class="project">
				<div class="row">
					<div class="col-sm-4">
						<h3 class="project-title"><%= project.client.organization.name %></h3>
						<small class="medium"><%= project.mediums.take(project.mediums.length-1).to_sentence %></small>
					</div>
					<div class="col-sm-2">
						<span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
						<%= project.due_date %>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>

		<!-- ARCHIVED PROJECTS -->
		<div class="section" id="archived">
			<h1 class="project-heading">Archived<b class="right-caret"></b></h1>
		</div>
	</div>
</div>