<div class="row">

	<!-- SIDEBAR NAVIGATION -->
	<div class="col-sm-2">
		<%=render 'navigation/projects_sidebar_nav' %>
	</div>

	<div class="col-sm-10">

		<!-- UNASSIGNED PROJECTS -->
		<div class="section" id="unassigned">
			<h1 class="project-heading">Unassigned</h1>
			<% @projects.each do |project| %>
			<% if project.status == "unassigned" %>
			<div class="project">
				<div class="row">
					<div class="col-sm-4">
						<h3 class="project-title"><%= project.client.organization.name %></h3>
						<small class="medium"><%= project.mediums.take(project.mediums.length-1).to_sentence %></small>
					</div>
					<div class="col-sm-2">
						<span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
						<%= project.due_date %>
					</div>
					<div class="col-sm-2">
						<select class="selectpicker" id="selectField">
							<option >Designer</option>
							<option>Ann</option>
							<option>Ashley</option>
							<option value="d3">Bob</option>
						</select>
					</div>
					<div class="col-sm-2">
						<select class="selectpicker team" id="selectField">              
							<option>Team</option>
							<option >Print 1</option>
							<option>Print 2</option>
							<option>Web</option>
						</select>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>

		<!-- ASSIGNED PROJECTS -->
		<div class="section" id="assigned">
			<h1 class="project-heading">Assigned</h1>
			<% @projects.each do |project| %>
			<% if project.status == "assigned" %>
			<div class="project">
				<div class="row">
					<div class="col-sm-4">
						<h3 class="project-title"><%= project.client.organization.name %></h3>
						<small class="medium"><%= project.mediums.take(project.mediums.length-1).to_sentence %></small>
					</div>
					<div class="col-sm-2">
						<span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
						<%= project.due_date %>
					</div>
					<div class="col-sm-2">
						<select class="selectpicker" id="selectField">
							<option >Designer</option>
							<option>Ann</option>
							<option>Ashley</option>
							<option value="d3">Bob</option>
						</select>
					</div>
					<div class="col-sm-2">
						<select class="selectpicker team" id="selectField">              
							<option>Team</option>
							<option >Print 1</option>
							<option>Print 2</option>
							<option>Web</option>
						</select>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>

		<!-- ARCHIVED PROJECTS -->
		<div class="section" id="archived">
			<h1 class="project-heading">Archived<b class="right-caret"></b></h1>
		</div>
	</div>
</div>