<div class="row">

	<!-- SIDEBAR NAVIGATION -->
	<div class="col-sm-2">
		<%=render 'navigation/projects_sidebar_nav' %>
	</div>

	<div class="col-sm-10">

		<script type="text/javascript">
		$(function(){
			$(".select-team").change(function(){
				var project_id = $(this).closest(".project").data("project-id");
				$.post("projects/" + project_id + "/update_team", {"team_id": $(this).val().toString()})
				.done(function(data){
					for (i = 0; i < data.length; i++) {
						$("#select-designer-" + project_id)
						.removeClass("hide")
						.append(new Option(data[i].first_name + " " + data[i].last_name, data[i].id));
					}
				});
			});
			$(".select-designer").change(function(){
				var project_id = $(this).closest(".project").data("project-id");
				$.post("projects/" + project_id + "/update_designer", {"team_id": $(this).val().toString()})
				.done(function(data){
					
				});
			});
		});
		</script>

		<!-- UNASSIGNED PROJECTS -->
		<div class="section" id="unassigned">
			<h1 class="project-heading">Unassigned</h1>
			<% @unassigned_projects.each do |unassigned| %>
			<div class="project" id="project-<%= unassigned.id %>" data-project-id="<%= unassigned.id %>">
				<div class="row">
					<div class="col-sm-4">
						<h3 class="project-title"><%= unassigned.client.organization.name %></h3>
						<small class="medium"><%= unassigned.mediums.take(unassigned.mediums.length-1).to_sentence %></small>
					</div>
					<div class="col-sm-2">
						<span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
						<%= unassigned.due_date %>
					</div>
					<div class="col-sm-2">
						<select class="select-team" id="select-team-<%= unassigned.id %>">
							<option value="">Select Team</option>
							<% @teams.each do |team| %>
							<option value="<%= team.id %>">
								<%= team.name %>
							</option>
							<% end %>
						</select>
					</div>
					<div class="col-sm-2">
						<select class="select-designer hide" id="select-designer-<%= unassigned.id %>">
							<option value="">Select Designer</option>
						</select>
					</div>
				</div>
			</div>
			<% end %>
		</div>

		<!-- ASSIGNED PROJECTS -->
		<div class="section" id="assigned">
			<h1 class="project-heading">Assigned</h1>
			<% @assigned_projects.each do |assigned| %>
			<% if project.status == "assigned" %>
			<div class="project">
				<div class="row">
					<div class="col-sm-4">
						<h3 class="project-title"><%= assigned.client.organization.name %></h3>
						<small class="medium"><%= assigned.mediums.take(project.mediums.length-1).to_sentence %></small>
					</div>
					<div class="col-sm-2">
						<span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
						<%= assigned.due_date %>
					</div>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>

		<!-- ARCHIVED PROJECTS -->
		<div class="section" id="archived">
			<h1 class="project-heading">Archived<b class="right-caret"></b></h1>
		</div>
	</div>
</div>