<%= simple_form_for @project do |f| %>
<div class="row window">
	<div class="content">
		<h2>Project Type</h2>
		<%= f.input :mediums, label: false, :as => :check_boxes, collection: ["Poster", "Large Flyer", "Small Flyer", "Banner", "Logo", "Bus Ad", "The Chronicle Ad", "T-Shirt", "Dining Hall Table Tent", "Website", "Other"] %>
	</div>
</div>
<div class="row window">
	<div class="content">
		<h2>Client Information</h2>
		<%= f.simple_fields_for @project.client, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control'} } do |c| %>
		<%= c.input :first_name, wrapper_html: { class: 'col-xs-12' } %>
		<%= c.input :last_name, wrapper_html: { class: 'col-xs-12' } %>
		<%= c.input :email, wrapper_html: { class: 'col-xs-12' } %>
		<%= c.input :cell, :as => 'tel', input_html: {id: 'input-cell', placeholder: "(919) LOL-DUKE"}, wrapper_html: { class: 'col-xs-12' } %>
		<%= c.input :department, collection: ["Undergraduate Student Organization", "Graduate Student Organization", "University Departmental Organization", "Other"], wrapper_html: { class: 'col-xs-12' } %>
		<% end %>
	</div>
</div>
<div class="row window">
	<div class="content">
		<h2>Organization Information</h2>
		<%= f.simple_fields_for @project.client.organization, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control'} } do |o| %>
		<%= o.input :name, wrapper_html: { class: 'col-xs-12' }%>
		<%= o.input :description, wrapper_html: { class: 'col-xs-12' } %>
		<% end %>
	</div>
</div>

<div class="row window">
	<div class="content">
		<h2>Project Information</h2>
		<%= f.input :details, wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control'} %>
		<%= f.input :direction, wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control'} %>
		<%= f.input :due_date %>
		<%= f.submit "Submit", :class => "btn" %>
	</div>
</div>
<% end %>