<div class="row">
	<div class="col-sm-2">
		<%=render 'navigation/project_sidebar_nav' %>
	</div>
	<div class="col-sm-10">
		<h2 class="heading">
			<%= @project.client.organization.name %>
		</h2>
		<div class="project">
			<div class="project-conversation">
				<div class="row">
					<div class="col-lg-2">
						<b><%= @project.client.first_name %> <%= @project.client.last_name %></b>
					</div>
					<div class="col-sm-10">
						<p><%= @project.details %></p>
					</div>
				</div>
			</div>
			<div class="project-conversation-respond">
				<p>Reply to the client!</p>
				<input type="textarea" class="col-xs-12">
			</div>
		</div>
	</div>
</div>
