<div class="proj-title">
	<h1><%= @project.client.organization.name %>
	</h1>
</div>
<div class="page-wrapper">
	<div class="row">
		<div class="col-sm-9">
			<div class="panel project-panel">
				<ul class="nav nav-tabs panel-heading">
					<li class="active"><a href="#client" data-toggle="tab">Client Discussion
					</a></li>
					<li><a href="#internal" data-toggle="tab">Internal Discussion</a>
					</li>
					<li><a href="#files" data-toggle="tab">Files</a></li><!-- 
					<li><a href="#time" data-toggle="tab">Time</a></li> -->
				</ul>
				<div class="panel-body tab-content">
					<div class="project tab-pane active" id="client">
						<div class="project-conversation">
							<div class="row">
								<div class="col-lg-2">
									<b><%= @project.client.first_name %> <%= @project.client.last_name %></b>
								</div>
								<div class="col-sm-10">
									<p><%= @project.details %></p>
								</div>
							</div>
							<% @project.posts.each do |p| %>
							<div class="row">
								<div class="col-lg-2">
									<% if p.user.present? %>
									<b><%= p.user.first_name %> <%= p.user.last_name %></b>
									<% end %>
								</div>
								<div class="col-sm-10">
									<p><%= p.content %></p>
								</div>
							</div>
							<% end %>

							<div class="divider"></div>
						</div>
						<div class="project-conversation-respond">
							<p>Reply to the client!</p>
							
							<%= simple_form_for @post, :url => project_create_post_path(@project.id), :method => :post, html: {class: 'form-horizontal' } do |f| %>
							<%= f.input :content, :class => "forn-control"%>
							<%= f.submit "Submit", :class => "btn" %>
							<% end %>	
						</div>
					</div>
					<div class="project tab-pane" id="internal">
						<div class="project-conversation">
						</div>
						<div class="project-conversation-respond">	
						</div>
					</div>
					<div class="project tab-pane" id="files">
						<div class="project-conversation">
						</div>
						<div class="project-conversation-respond">	
						</div>
					</div>
					<div class="project tab-pane" id="time">
						<div class="project-conversation">
						</div>
						<div class="project-conversation-respond">	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<%=render 'navigation/project_sidebar_nav' %>
		</div>
	</div>
