<ul>
	<li><%= @project.details %></li>
	<li><%= @project.status %></li>
	<li><%= @project.due_date %></li>
	<li><%= @project.client.first_name %></li>
	<li><%= @project.client.last_name %></li>
	<li><%= @project.client.email %></li>
	<li><%= @project.client.department %></li>
</ul>