<div class="panel panel-side-nav">
	<div class="panel-heading">
		<h3 class="panel-title">Project <span class="bold">Details</span></h3>
	</div>
	<div ng-controller="ProjectShowController">
		<div class="panel-body">
			<ul class="nav">
				<li><div class="bold col-xs-6">Due Date</div><div class="col-xs-6"><%= @project.due_date %></div></li>
				<li><div class="bold col-xs-6">Medium</div><div class="col-xs-6">
					<% @project.mediums.each do |m| %>
					<%= m %>
					<% end %>
				</div></li>
				<li><div class="bold col-xs-6">Team</div>
					<div class="col-xs-6">
						<% if @project.team != nil %>
						<%= @project.team.name %>
						<% else %>
						<select ng-change="updateTeam(team, <%= @project.id %>)" ng-model="team" ng-options="team.name for team in teams">
							<option value="">Select Team</option>
						</select>
						<% end %>
					</div>
				</li>
				<li><div class="bold col-xs-6">Designer</div>
					<div class="col-xs-6">
						<% if @project.team != nil && @project.user != nil %>
						<%= @project.user.first_name %>
						<% elsif %>
						<select ng-change="updateDesigner(designer, <%= @project.id %>)" ng-model="designer" ng-options="(u.first_name+' '+u.last_name) for u in team.users">
							<option value="">Select Designer</option>
						</select>
						<% end %>
					</div>
				</li>
				<li>
					<div class="bold col-xs-6">Status</div>
					<div class="col-xs-6"><%= @project.status %></div>
				</li>
				<li>
					<% if @project.status == "assigned" %>
					<button class="btn">Archive Project</button>				
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</div>


