<div class="sidebar">
	<h2 class="heading">Details</h2>
	<ul class="sidenav nav">
		<li>Due Date: <%= @project.due_date %></li>
		<li>Medium: <%= @project.mediums_json %></li>
		<li>Team: <%= @project.team %></li>
		<li>Designer: <%= @project.team %></li>
		<li>Status: <%= @project.status %> </li>
	</ul>
</div>