<div class="sidebar">
	<h2 class="heading">Details</h2>
	<ul class="sidenav nav">
		<li>Due Date: <%= @project.due_date %></li>
		<li>Medium: <%= @project.mediums_json %></li>
		
		<li>Team: <% if @project.team != nil %> <%= @project.team.name %>
		<% end %>
		</li>
		<li>Designer: <% if @project.team != nil %> <%= @project.user.first_name %><% end %></li>
		<li>Status: <%= @project.status %> </li>
	</ul>
</div>