<div class="panel panel-side-nav">
	<div class="panel-heading">
		<h3 class="panel-title">Project <span class="bold">Details</span></h3>
	</div>
	<div ng-controller="ProjectShowController">

	<div class="panel-body project">
		<ul class="nav">
			<li>

			<div class="bold col-xs-6"><p>Due Date</p></div>
				<div class="right col-xs-6"><p><%= @project.due_date %></p></div>
			</li>
			<li>
				<div class="bold col-xs-6"><p>Medium</p></div>
				<div class="right col-xs-6">
					<p><% @project.mediums.each do |m| %>
					<%= m %>
					<% end %></p>
				</div>
			</li>
			<li>
				<div class="bold col-xs-6"><p>Team</p></div>
				<div class="right col-xs-6">
					<p><% if @project.team != nil %>
						<%= @project.team.name %>
						<% else %>
						<select ng-change="updateTeam(team, <%= @project.id %>)" ng-model="team" ng-options="team.name for team in teams">
							<option value="">Select Team</option>
						</select>
						<% end %></p>
				</div>
			</li>
			<li>

			<div class="bold col-xs-6"><p>Designer</p></div>
				<div class="right col-xs-6">
					<p><% if @project.team != nil && @project.user != nil %>
					<%= @project.user.first_name %>
					<% elsif %>
						<select ng-change="updateDesigner(designer, <%= @project.id %>)" ng-model="designer" ng-options="(u.first_name+' '+u.last_name) for u in team.users">
							<option value="">Select Designer</option>
						</select>
						<% end %></p>
				</div>
			</li>

			<li><div class="bold col-xs-6"><p>Status</p></div><div class="right col-xs-6"><p><%= @project.status %></p></div></li>
			<li >
			<div>
					<% if @project.status == "assigned" %>
					<button class="create btn">Archive Project</button>
					<% end %>
					</div>
				</li>
		</ul>
	</div>
</div></div>


