<div class="panel panel-side-nav">
	<div class="panel-heading">
		<h3 class="panel-title">Project <span class="bold">Details</span></h3>
	</div>
	<div class="panel-body">
		<ul class="nav">
			<li><div class="bold col-xs-6">Due Date</div><div class="col-xs-6"><%= @project.due_date %></div></li>
			<li><div class="bold col-xs-6">Medium</div><div class="col-xs-6">
				<% @project.mediums.each do |m| %>
				<%= m %>
				<% end %>
			</div></li>
			<li><div class="bold col-xs-6">Team</div>
				<div class="col-xs-6">
					<% if @project.team != nil %>
					<%= @project.team.name %>
					<% else %>
					No team assigned
					<% end %>
				</div>
			</li>
			<li><div class="bold col-xs-6">Designer</div>
				<div class="col-xs-6">
					<% if @project.team != nil && @project.user != nil %>
					<%= @project.user.first_name %>
					<% else %>
					No designer assigned
					<% end %>
				</div>
			</li>
			<li><div class="bold col-xs-6">Status</div><div class="col-xs-6"><%= @project.status %></div></li>
		</ul>
	</div>
</div>


