<div class="panel panel-side-nav">
<div class="panel-heading">
	<h2 class="panel-title">
		Designers
		<% if @user.has_role? :admin %>
		<button class="edit-button" ><a href="/users"><span class="glyphicon glyphicon-edit"></span></a></button>
		<% end %>
	</h2>
	</div>
<div class="panel-body">
	<ul class="sidenav nav">
		<li class="draggable" ng-model="designers" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep', onStart:'startCallback(designer, $index)'}" ng-repeat="designer in designers">
			<a>{{designer.first_name}} {{designer.last_name}}</a>
		</li>
		<li><a class="option" data-toggle="modal" data-target="#create-user">Create New Designer</a></li>
	</ul>
</div>

<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="create-user-label">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="create-user-label">Create A User</h4>
			</div>
			<%= simple_form_for :user, :url => url_for(:action => 'create_user', :controller => 'teams'),
			:method => 'post' do |f| %>
			<div class="modal-body">
				<%= f.input :first_name, :required => true %>
				<%= f.input :last_name, :required => true %>
				<%= f.input :email, :required => true, :autofocus => true %>
				<%= f.input :area, collection: ["Web", "Print"] %>
				<%= f.input :position, collection: [ "Administrator", "Lead Project Manager", "Lead Project Mentor", "Project Manager", "Project Mentor", "Designer"] %>
				<%= f.input :password, :required => true %>
				<%= f.input :password_confirmation, :required => true %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit "Submit", :class => "btn" %>
			</div>
			<% end %>
		</div>
	</div>
</div>