<!-- <div class="panel">
	<div class="panel-heading">
		<h2 class="panel-title">Project <span class="bold">Details</span></h2>
	</div>
	<div class="panel-body">
		<ul class="sidenav nav">
			<li>Due Date: <%= @project.due_date %></li>
			<li>Medium: <%= @project.mediums_json %></li>

			<li>Team: <% if @project.team != nil %> <%= @project.team.name %>
				<% end %>
			</li>
			<li>Designer: <% if @project.team != nil %> <%= @project.user.first_name %><% end %></li>
			<li>Status: <%= @project.status %> </li>
		</ul>
	</div>
</div> -->


<!-- <table>
	<thead>
		<h2 class="panel-title">Project <span class="bold">Details</span></h2>
	</thead>
	<tbody>
		<tr>
			<td>
				Due Date
			</td>
			<td>
				<%= @project.due_date %>
			</td>
		</tr>
		<tr>
			<td>
				Medium
			</td>
			<td>
				<%= @project.mediums_json %>
			</td>
		</tr>
		<tr>
			<td>
				Team
			</td>
			<td>
				<% if @project.team != nil %> <%= @project.team.name %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
				Designer
			</td>
			<td>
				<% if @project.team != nil %> <%= @project.user.first_name %><% end %>
			</td>
		</tr>
		<tr>
			<td>
				Status
			</td>
			<td><%= @project.status %> </td>
		</tr>
	</tbody>
</table> -->